<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexXmlHttpMgr">
        <method name="open"></method>
        <method name="send"></method>
        <method name="setBody"></method>
        <method name="setHeaders"></method>
        <method name="setPostData"></method>
        <method name="setAppVerify"></method>
        <method name="setInputStream"></method>
        <method name="setCertificate"></method>
        <method name="close"></method>
	</plugin>
</uexplugins>
